discord~=2.3.2
google-api-python-client google-auth-httplib2 google-auth-oauthlib
fuzzywuzzy~=0.18.0
opencv-python~=4.10.0.82
pytesseract~=0.3.10
python-dateutil~=2.9.0.post0
numpy~=1.26.4
requests~=2.31.0